<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Data Project Group 3</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Register</h1>
<form action="#" th:action="@{/register}" th:object="${user}" method="post">
    <p>User Name: <input type="text" th:field="*{userName}" /></p>
    <p>Password: <input type="text" th:field="*{password}" /></p>
    <p>User Group: <input type="text" th:field="*{userGroup}" /></p>
    <div th:if="${user.isError()}">
        <div><p>Message: <small style="color: red" th:text="${user.appResponse}" >${user.appResponse}</small></p></div>
    </div>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>